/* views/home.css */

/* Fallback Wrapper */
.fallback-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  text-align: center;
}

/* Fallback Image */
.fallback-image {
  width: 220px;
  height: 280px;
  object-fit: cover;
  border: 3px solid #252833;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: 0 4px 16px 0 rgba(30, 30, 40, 0.2);
}

/* Fallback Message */
.fallback-message {
  font-size: 1.1rem;
  color: #cccccc;
  font-weight: bold;
  margin: 5px auto;
}

/* Welcome Message */
.welcome-message {
  font-size: 1.5rem;
  color: #d4af37ff;
  margin-bottom: 15px;
  text-align: center;
}

.container main {
  max-height: 100%;
}
