/* views/projects.css */

/* Projects Header */
.projects-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.projects-header-container h2 {
  font-size: 1.5rem;
  color: #d4af37ff;
  margin: 0;
}

.add-project-button {
  background-color: #b87333;
  color: #fafafa;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 2rem;
  line-height: 1;
  width: 40px;
  height: auto;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

.add-project-button:hover {
  background-color: #cf4452;
}

/* Project List */
.project-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
  font-weight: bold;
  background-color: #2b2b2b;
  border: 1px solid #3c3c3c;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.project-item:hover {
  transform: scale(1.01);
}

.project-item.completed {
  opacity: 0.6;
}

.project-name {
  font-size: 1.2rem;
  color: #cccccc;
}

.project-actions {
  display: flex;
  align-items: center;

  gap: 10px;
}

.project-action-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #d4af37ff;
  transition: color 0.2s ease;
}

.project-action-icon:hover {
  color: #b87333;
}
