/* components/cards.css */

/* Task List */
.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.055);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.task-list li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.task-list li.completed {
  opacity: 0.6; /* Dim completed tasks */
  text-decoration: line-through; /* Strike through completed tasks */
}

/* Task Circle (Checkbox) */
.task-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #616161;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out;
}

.task-circle:hover {
  background-color: #aa9654;
}

.task-circle.completed {
  background-color: var(--priority-high);
  border-color: var(--priority-high);
}

/* Task Details Container */
.task-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 8px;
  padding-top: 1px;
}

/* Task Text */
.task-text {
  font-size: 0.95rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.15;
  color: #cccccc;
  overflow: hidden;
  flex-shrink: 1;
}

/* Task Due Date */
.task-due-date {
  font-size: 0.9rem;
  font-weight: 600;
  color: #b87333;
  flex-shrink: 0;
}

/* Priority Indicator */
.task-priority {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.task-circle[data-priority="high"] {
  border-color: var(--priority-high);
  box-shadow: 0 0 5px rgba(184, 115, 51, 0.5);
}

.task-circle[data-priority="medium"] {
  border-color: var(--priority-medium);
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.5);
}

.task-circle[data-priority="low"] {
  border-color: var(--priority-low);
  box-shadow: 0 0 5px rgba(80, 200, 120, 0.5);
}

/* Fade-out Animation for Completed Tasks */
@keyframes fade-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

/* Fill Animation for Completed Circle */
@keyframes fill-circle {
  from {
    background-color: transparent;
    border-color: #444444;
  }
  to {
    background-color: #b87333;
    border-color: #b87333;
  }
}

/* Apply Animations to Completed Tasks */
.task-list li.completed-animation {
  animation: fade-out 0.3s ease-in-out forwards;
}

.task-list li.completed-animation .task-circle {
  animation: fill-circle 0.3s ease-in-out forwards;
}
