/* components/modals.css */

/* Modal Container */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

/* Modal Content */
.modal-content {
  background-color: #292e3d;
  border: 2px solid #b87333;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: left;
  animation: slide-up 0.3s ease-in-out;
  color: #fafafa;
}

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  margin-bottom: 5px;
}

.modal-header h3 {
  font-size: 1.2rem;
  line-height: 1;
  color: #d4af37ff;
}

.modal-actions {
  display: flex;
  gap: 10px;
}

/* Styles for .task-details when the modal is expanded */
.task-details.expanded {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  text-align: left;
  font-size: 0.85rem;
  background-color: #313648;
  border-radius: 5px;
  color: #fafafa;
  margin: 0;
}

.task-details.expanded p {
  margin: 4px;
  letter-spacing: 0.5px;
}

/* Animations */
@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
