/* buttons.css */

/* Floating Add Task Button */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #b33f4a;
  color: #fafafa;
  font-size: 2rem;
  font-weight: 700;
  font-family: inherit;
  line-height: 0;
  border: none;
  border-radius: 25%;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 250ms ease-in-out;
}

.floating-btn:hover {
  transform: scale(1.03);
  background-color: #fb8136;
  box-shadow: 0px 0px 10px 3px rgba(240, 179, 141, 0.3);
}

/* Modal buttons */

.modal-actions button {
  background-color: #b33f4a;
  color: #f4f4f4;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 5px;
}

.modal-actions button:hover {
  background-color: #cf4452;
}

/* Edit task form button */

#edit-task-form button {
  background-color: #b33f4a;
  color: #f4f4f4;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 5px;
}

#edit-task-form button:hover {
  background-color: #cf4452;
}
