@import "normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f0e8;
  color: #333;
  font-family: "Courier Prime", monospace;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #5a3e36;
}

p,
input,
button,
li {
  font-family: "Courier Prime", monospace;
}

/* Layout */
.container {
  background-color: azure;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

/* Input Section */

#task-form {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 6px;
}

#task-input {
  border: 2px solid #5a3e36;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  width: 70%;
}

button {
  background-color: #5a3e36;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  margin-left: 10px;
}

/* Task List */

#task-list {
  list-style-type: none;
  padding: 0;
}

#task-list li {
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #5a3e36;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}
