/* projects.css */

/* Project Card */
.project-card {
  background-color: #2b2b2b;
  border: 2px solid #9a5c2b;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Project Title */
.project-title {
  font-family: "Courier Prime", monospace;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  color: #b87333;
  margin-bottom: 10px;
}

/* Fallback message in case of no projects in PROJECTS's tab list */
.project-list p {
  text-align: center;
  font-size: 1rem;
  color: #bbb;
  margin-top: 20px;
}

/* Task List */
.task-list li {
  background-color: #333333;
  border: 1px solid #444444;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.task-circle {
  width: 20px;
  height: 20px;
  border: 3px solid #b87333;
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.task-circle.completed {
  background-color: #b87333;
  transition: background-color 0.2s ease-in-out;
}

/* Task Circle Colors Based on Priority */
.task-circle[data-priority="low"] {
  border-color: green;
}

.task-circle[data-priority="medium"] {
  border-color: yellow;
}

.task-circle[data-priority="high"] {
  border-color: red;
}

.task-text {
  line-height: 1;
  text-align: left;
  padding-top: 3px;
}
