/* base/typography.css */

/* Load Dalek Pinpoint Font */
@font-face {
  font-family: "Dalek Pinpoint";
  src: url("../../assets/fonts/DalekPinpointBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Global Font Family */
body {
  font-family: "Cinzel", sans-serif;
  line-height: 1.5;
  color: var(--secondary-color);
}

/* Headings */
h1 {
  font-family: "Dalek Pinpoint", sans-serif;
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: #d4af37ff;
  margin: 10px;
  letter-spacing: 2px;
}

h2,
h3 {
  color: #d4af37ff;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

h2 {
  font-family: "Dalek Pinpoint", sans-serif;
  font-size: 1.5rem;
}

h3 {
  font-family: "Cinzel", sans-serif;
  font-size: 1.25rem;
}

/* Paragraphs */
p {
  font-family: "Cinzel", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #cccccc;
  margin-bottom: 1rem;
}

/* Links */
a {
  color: #b87333;
  text-decoration: none;
  font-weight: bold;
  font-family: "Cinzel", sans-serif;
}

a:hover {
  text-decoration: underline;
  color: #cf4452;
}

/* Style for the tagline below the h1 */
.tagline {
  font-family: "Cinzel", serif;
  font-size: 1.1rem;
  font-style: italic;
  letter-spacing: 0.5px;
  color: #fafafa;
  margin-top: 5px;
  text-align: center;
}
